rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /shared-links/{document=**} {
      allow read, write: if true;
    }

    match /department-notices/{document=**} {
      allow read, write: if true;
    }

    match /work-documents/{document=**} {
      allow read, write: if true;
    }

    match /deleted-item-ids/{document=**} {
      allow read, write: if true;
    }

    match /site-settings/{document=**} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
